body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: #212121;
    color: white;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    position: fixed;
    top: 0;
    width: 100%;
    /* border-bottom: 1px solid #00CE79; */
}

ul li{
    list-style: none;
    margin-left: 16px;
    margin-right: 16px;
    font-size: 20px;
    font-weight: 500;
}
ul li a{
    text-decoration: none;
    color: white;
    transition: color 0.35s;
}
.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logo{
    font-weight: 500;
    font-size: 35px;
    
}
hr{
    height: 5px;
    width: 65px;
    background-color: #00CE79;
    border: none;
    border-radius: 4px;
    margin: 0;

    position: relative;
    left: 30%;
    top: 100%;
}

ul li a:hover{
    color: #00CE79;
    
}

body{
    background-color: black;
}